@model AdvertisingKHAI.Models.Home.Index

<div id="banner-container">
    <div id="categoryList">
        <h2>Список категорій</h2>
        <ul id="categoryUl"></ul>
    </div>

    <div id="banner">
        <img id="imageId" alt="Рекламний банер">
    </div>
</div>

<script>
    var imageElement = document.getElementById('imageId');
    var categoryNames = @Html.Raw(Json.Serialize(Model.CategoryNames));
    var bannerContent = @Html.Raw(Json.Serialize(Model.BannerContent));

    //category index for view
    var currentCategoryIndex = 0;
    //banner index for view
    var currentBannerIndex = 0;

    //interval update
    function nextBanner() {
        currentBannerIndex = (currentBannerIndex + 1) % bannerContent[currentCategoryIndex].length;

        var currentImage = document.getElementById('imageId');

        currentImage.src = bannerContent[currentCategoryIndex][currentBannerIndex];
    }

    function updateCategoryList() {
        var categoryUl = document.getElementById('categoryList').getElementsByTagName('ul')[0];
        categoryUl.innerHTML = ''; //clean ul

        //create button for all category
        categoryNames.forEach(function (category, index) {
            var li = document.createElement('li');
            var button = document.createElement('button');
            button.textContent = category;

            //add style
            button.style.backgroundColor = 'none';
            button.style.border = 'none';
            button.style.padding = '0';
            button.style.fontSize = '16px';
            button.style.cursor = 'pointer';
            button.style.opacity = '0.7';
            button.style.transition = 'opacity 0.3s ease';

            //add function
            button.onclick = function () {
                changeCategory(index);
            };

            li.appendChild(button);
            categoryUl.appendChild(li);
        });
    }

    //update banner for category
    function changeCategory(categoryIndex) {
        currentCategoryIndex = categoryIndex;
        currentBannerIndex = 0;
        updateBanner();
    }

    function updateBanner() {
        imageElement.src = bannerContent[currentCategoryIndex][currentBannerIndex];
        currentBannerIndex = (currentBannerIndex + 1) % bannerContent[currentCategoryIndex].length;
    }

    setInterval(nextBanner, 1000);
    //update category on start
    updateCategoryList();
    var currentImage = document.getElementById('imageId');
    //update bunner on start
    currentImage.src = bannerContent[currentCategoryIndex][currentBannerIndex];
</script>