﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdvertisingKHAI</title>
    <link rel="stylesheet" href="~/AdvertisingKHAI.styles.css" />
</head>
<body>
    <header>
        <div class="container">
            <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Home" asp-action="Index">
                На головну
            </a>
            <div class="menu">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            Company name: @User.Identity.Name
                        </li>
                        <li>
                            <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Account" asp-action="Index">
                                Управління рекламою
                            </a>
                        </li>
                        <li>
                            <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Authorization" asp-action="Logout">
                                Вихід з аккаунту
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Authorization" asp-action="Login">
                                Авторизація
                            </a>
                        </li>
                        <li>
                            <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Authorization" asp-action="Registration">
                                Реєстрація
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>