﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdvertisingKHAI</title>
    <link rel="stylesheet" href="~/AdvertisingKHAI.styles.css" />
    <style>
        .tooltip {
            position: absolute;
            z-index: 1;
            display: none;
            padding: 10px;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            border-radius: 4px;
            max-width: 200px;
        }

        li:hover .tooltip {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Home" asp-action="Index">
                На головну
            </a>
            <div class="menu">
                <ul>
                    @if (User.Identity != null)
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li id="companyInfo">
                                Ваша інформація <span class="tooltip"></span>
                            </li>
                            <li>
                                <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Account" asp-action="Index">
                                    Управління рекламою
                                </a>
                            </li>
                            <li>
                                <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Authorization" asp-action="Logout">
                                    Вихід з аккаунту
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Authorization" asp-action="Login">
                                    Авторизація
                                </a>
                            </li>
                            <li>
                                <a asp-area="" style="color: #4caf50; text-decoration: none;" asp-controller="Authorization" asp-action="Registration">
                                    Реєстрація
                                </a>
                            </li>
                        }
                </ul>
            </div>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>

<script>
    //popup on hover
    $(document).ready(function () {
        $("#companyInfo").hover(function () {
            $.ajax({
                url: "/Account/GetCompanyInfo",
                type: "GET",
                success: function (data) {
                    var tooltipText = "";

                    //all string in json and add to tooltipText
                    data.forEach(function (item) {
                        tooltipText += item + "<br>";
                    });

                    //line break
                    $(".tooltip").html(tooltipText);
                },
                error: function () {
                    console.error("Ошибка при выполнении AJAX-запроса");
                }
            });
        });
    });
</script>