﻿.container {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: auto;
    margin-right: 0;
}

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu li {
        display: inline;
        margin-right: 10px;
    }